<a href="https://colab.research.google.com/github/ricardocenteno18/mayraextempo-/blob/main/ExtempoRicardoCenteno.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Ricardo Armando Centeno Santos 
Extemporaneo Unidad 1

Preprocesamiento de datos

## Introduction
In the music industry is very important to know which is the song in the top of the billboard and also is very important to try to predict which is going to be the new single top in the world or maybe only in some plaraforms like Spotify. That is the reason that I am going to predict what kind of music is one of the most listended to.

## Hypothesis 
My hypothes is that in the music industry the music is like the bread, each minute someone is releasing a new single, the industry music moves very fast and is importat. Every artist or band that is going to release a single, think that the single is going to be the most listened in all the history or is going to break some records but that is not completely sure. So in my hypothesis, I want to find what are the characteristics that make a song the number one on the billboards tops.

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("song_data.csv")
data.head()

                    song_name  song_popularity  ...  time_signature  audio_valence
0  Boulevard of Broken Dreams               73  ...               4          0.474
1                  In The End               66  ...               4          0.370
2           Seven Nation Army               76  ...               4          0.324
3                  By The Way               74  ...               4          0.198
4           How You Remind Me               56  ...               4          0.574

[5 rows x 15 columns]

In [3]:
data.describe()

       song_popularity  song_duration_ms  ...  time_signature  audio_valence
count     18835.000000      1.883500e+04  ...    18835.000000   18835.000000
mean         52.991877      2.182116e+05  ...        3.959119       0.527967
std          21.905654      5.988754e+04  ...        0.298533       0.244632
min           0.000000      1.200000e+04  ...        0.000000       0.000000
25%          40.000000      1.843395e+05  ...        4.000000       0.335000
50%          56.000000      2.113060e+05  ...        4.000000       0.527000
75%          69.000000      2.428440e+05  ...        4.000000       0.725000
max         100.000000      1.799346e+06  ...        5.000000       0.984000

[8 rows x 14 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18835 entries, 0 to 18834
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   song_name         18835 non-null  object
 1   song_popularity   18835 non-null  int64
 2   song_duration_ms  18835 non-null  int64
 3   acousticness      18835 non-null  float64
 4   danceability      18835 non-null  float64
 5   energy            18835 non-null  float64
 6   instrumentalness  18835 non-null  float64
 7   key               18835 non-null  int64
 8   liveness          18835 non-null  float64
 9   loudness          18835 non-null  float64
 10  audio_mode        18835 non-null  int64
 11  speechiness       18835 non-null  float64
 12  tempo             18835 non-null  float64
 13  time_signature    18835 non-null  int64
 14  audio_valence     18835 non-null  float64
dtypes: float64(9), int64(5), object(1)
memory usage: 2.2+ MB

In [5]:
data.shape

(18835, 15)